<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="app.css">
</head>
<body >
<div id="app">

    <main role="main" class="container app--title">
        <div>
            <h1>
                Just A Sentence
            </h1>
            <p class="lead">Don't look behind. Write!</p>
        </div>
    </main>


    <div class="container">
        <div class="row">
            <div class="col-12 d-table" >
                <div class="d-table-cell align-middle">
                    <div class="form-group">
                        <input class="form-control input-lg" v-model="current" placeholder="You can do it!" type="text" v-on:keyup.enter="onEnter">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <a href="#" title="Copy all to Clipboard" @click.prevent="copy">Copy All</a>
            </div>
        </div>
    </div>

    <div class="container" style="visibility: hidden">
        <div class="row">
            <div class="col-12">
                <div class="align-middle">
                    <div class="form-group">
                        <textarea id="history" class="form-control input-lg" v-model="historyString" type="text">
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="app.js"></script>
</body>
</html>